﻿<div class="container m-3">
    <h4>Order Result</h4>
</div>
<div class="alert alert-info">
    <h5>Your Order sended to us shop ! Thanks you for shopping. </h5>
    <a href="/customer/Home/Index"> Return to home page</a>
</div>